.active .sidebarNav {
    background-color: #de5808;
}
.active .sidebarNav:hover {
    background-color: #de5808;
}
a.active .accordionLink{
    color: #B20600;
    font-weight: bold;
}
a.active .accordionLink:hover{
    background-color: transparent;
    cursor: default;
}

/* .breadCrumb {
    padding: 1vw 3vw 1vw 3vw;
    background-color: #FF5F00;
} */

.breadCrumb.active{
    font-weight: bold;
}

/* @keyframes scale-display {
	0% {
		opacity: 0;
        width: 0%;
	}

	100% {
		opacity: 1;
        width: 100%;

	}
}

@keyframes scale-display--reversed {
	0% {
		display: inline-flex;
        width: 100%;
	}
	100% {
		display: none;
		width: 0%;
	}
} */