.active .sidebarNav {
    background-color: #de5808;
}
.active .sidebarNav:hover {
    background-color: #de5808;
}
a.active .accordionLink{
    color: #B20600;
    font-weight: bold;
}
a.active .accordionLink:hover{
    background-color: transparent;
    cursor: default;
}

.breadCrumb.active{
    font-weight: bold;
}

.datePicker {
    border: 1px solid #E2E8F0;
    border-radius:  0.375rem;
    height: 2.5rem;
    padding: 0 16px;
    width: 115px;
}

.datePicker:focus{
	border-color: #3182ce!important;
    box-shadow: 0 0 0 1px #3182ce!important;
}