.active .sidebarNav {
    background-color: #de5808;
}
.active .sidebarNav:hover {
    background-color: #de5808;
}
a.active .accordionLink{
    color: #B20600;
    font-weight: bold;
}
a.active .accordionLink:hover{
    background-color: transparent;
    cursor: default;
}

/* .breadCrumb {
    padding: 1vw 3vw 1vw 3vw;
    background-color: #FF5F00;
} */

.breadCrumb.active{
    font-weight: bold;
}